<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rczmm.demo.mapper.CorpMapper">
    <resultMap type="Corp" id="CorpResult">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="tableName">
        corp
    </sql>

    <sql id="columnList">
        id,pid,name,type,status,description,createTime,updateTime
    </sql>

    <sql id="selectCorpVo">
        SELECT
        <include refid="columnList"/>
        FROM
        <include refid="tableName"/>
    </sql>

    <select id="selectCorpList" parameterType="Corp" resultMap="CorpResult">
        <include refid="selectCorpVo"/>
        <where>
            <if test="pid != null ">and pid = #{pid}</if>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="createTime != null ">and createTime = #{createTime}</if>
            <if test="updateTime != null ">and updateTime = #{updateTime}</if>
        </where>
    </select>

    <select id="selectCorpById" parameterType="Long" resultMap="CorpResult">
        <include refid="selectCorpVo"/>
        WHERE id = #{id}
    </select>

    <insert id="insertCorp" parameterType="Corp">
        INSERT INTO
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="pid != null">pid,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="pid != null">#{pid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCorp" parameterType="Corp">
        UPDATE
        <include refid="tableName"/>
        <trim prefix="SET" suffixOverrides=",">
            <if test="pid != null">pid = #{pid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="createTime != null">createTime = #{createTime},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteCorpById" parameterType="Long">
        DELETE
        FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteCorpByIds" parameterType="String">
        DELETE FROM
        <include refid="tableName"/>
        WHERE id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>