<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rczmm.demo.mapper.UserMapper">

    <resultMap type="User" id="UserResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="corpId" column="corpId"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="tableName">
        user
    </sql>

    <sql id="columnList">
        id, name, account, corpid, createTime, updateTime
    </sql>

    <sql id="selectUserVo">
        SELECT
        <include refid="columnList"/>
        FROM
        <include refid="tableName"/>
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="user.name != null  and user.name != ''">and name like concat('%', #{user.name}, '%')</if>
            <if test="user.account != null  and user.account != ''">and account = #{user.account}</if>
            <if test="user.corpid != null ">and corpid = #{user.corpid}</if>
            <if test="user.createTime != null ">and createTime = #{user.createTime}</if>
            <if test="user.updateTime != null ">and updateTime = #{user.updateTime}</if>
        </where>
    </select>

    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.id != null">id,</if>
            <if test="user.name != null">name,</if>
            <if test="user.account != null">account,</if>
            <if test="user.corpid != null">corpid,</if>
            <if test="user.createTime != null">createTime,</if>
            <if test="user.updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="user.name != null">#{user.name},</if>
            <if test="user.account != null">#{user.account},</if>
            <if test="user.corpid != null">#{user.corpid},</if>
            <if test="user.createTime != null">#{user.createTime},</if>
            <if test="user.updateTime != null">#{user.updateTime},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        UPDATE
        <include refid="tableName"/>
        <trim prefix="SET" suffixOverrides=",">
            <if test="user.name != null">name = #{user.name},</if>
            <if test="user.account != null">account = #{user.account},</if>
            <if test="user.corpid != null">corpid = #{user.corpid},</if>
            <if test="user.createTime != null">createTime = #{user.createTime},</if>
            <if test="user.updateTime != null">updateTime = #{user.updateTime},</if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        DELETE
        FROM
        <include refid="tableName"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        DELETE FROM
        <include refid="tableName"/>
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>